include ../base-dropdown/base-dropdown

mixin date-dropdown(option)
  .date-dropdown
    .date-dropdown__wrapper
      +base-dropdown({label: 'date Dropdown', placeholder: option.placeholder, value: option.val1}).date-dropdown__start
      +base-dropdown({label: 'date Dropdown', placeholder: option.placeholder, value: option.val2}).date-dropdown__end