.date-dropdown {
    width: 300px;
}

.date-dropdown__wrapper {
    display: flex;
    justify-content: space-between;
}

.date-dropdown__start {
    margin-right: 20px;
}

@media (min-width: 720px) {
    .date-dropdown {
        width: 320px;
    }
}