.rich-checkbox-buttons {
    .checkbox-buttons__checkbox-icon {
    margin-right: 12px;
    }

    .checkbox-buttons__item:nth-child(2n) {
        margin-top: 8px;
    }

    .checkbox-buttons__checkbox-icon {
        margin-right: 12px;
    }
}