mixin input-num(options)
  .input-num
    button.input-num__btn.input-num__btn_disabled(id="" name="button") -
    input.input-num__display.title.title_s(id="" type="number" name="" value= options.val )
    button.input-num__btn(id="" name="button") +