.button {
    box-sizing: border-box;
    position: relative;
    padding: 0;

    font-family: 'MontserratBold';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;

    border: none;
    background: transparent;
    cursor: pointer;
}

.button_c_ds-50 {
    color: $dark-shade-50;
}

.button_opaque {
    width: 99px;
    height: 44px;

    color: #fff;
    
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border: 0;
    border-radius: 22px
}

.button_opaque:hover {
    opacity: 0.5;
}

.button_opaque-hover {
    opacity: 0.5;
}

.button_transparent {
    width: 99px;
    height: 44px;
    
    background: transparent;
    border: 2px solid $purple;
    border-radius: 22px
}

.button_transparent:hover {
    border-color: $purple-50;
}

.button_transparent-hover {
    border-color: $purple-50;
}

.button_with-arrow {
    width: 320px;
}

.button_with-arrow::after {
    content: url('./common.blocks/button/arrow_forward.svg');
    position: absolute;
    right: 14px;
    top: 13px;
}

.button:active {
    // padding-left: 5px;
    left: 2px;
}

.button_opaque:active, .button_transparent:active {
    left: 0;
    padding-left: 3px;
} 