  
mixin checkbox-buttons(options, arr)
  fieldset.checkbox-buttons
    legend.checkbox-buttons__title.title.title_s= options.legend
    ul.checkbox-buttons__list
      each val, key in arr
        li.checkbox-buttons__item
          label.checkbox-buttons__label(for= key) 
            input.checkbox-buttons__checkbox(type="checkbox" id= key name="" value= key)
            span.checkbox-buttons__checkbox-icon
            span.checkbox-buttons__value.text= val