mixin radio-buttons(title, arr)

  fieldset.radio-buttons
    legend.radio-buttons__title.title.title_s= title
    ul.radio-buttons__list
      each option in arr
        li.radio-buttons__item
          label.radio-buttons__label(for= option.id)
            input.radio-buttons__input(id= option.id  type="radio" name="radio-button" value= option.id checked= option.checked)
            span.radio-buttons__icon
            span.radio-buttons__value.text= option.text