mixin colors-type
    section.ui-section.colors-type
      section.colors-type__colors
        .colors-type__color-row
          .colors_type__rect.colors_type__rect_color_ds-100
          h2.title.title_m.title_lh_29.colors-type__color-row-title Dark Shade 100% 
            span.colors-type__color-num #1F2041
        .colors-type__color-row
          .colors_type__rect.colors_type__rect_color_ds-75
          h2.title.title_m.title_lh_29.colors-type__color-row-title Dark Shade 75%
            span.colors-type__color-num #1F2041
        .colors-type__color-row
          .colors_type__rect.colors_type__rect_color_ds-50
          h2.title.title_m.title_lh_29.colors-type__color-row-title Dark Shade 50%
            span.colors-type__color-num #1F2041
        .colors-type__color-row
          .colors_type__rect.colors_type__rect_color_ds-25
          h2.title.title_m.title_lh_29.colors-type__color-row-title Dark Shade 25%
            span.colors-type__color-num #1F2041
        .colors-type__color-row
          .colors_type__rect.colors_type__rect_color_ds-5
          h2.title.title_m.title_lh_29.colors-type__color-row-title Dark Shade 5%
            span.colors-type__color-num #1F2041
        .colors-type__color-row
          .colors_type__rect.colors_type__rect_color_purple
          h2.title.title_m.title_lh_29.colors-type__color-row-title Purple 
            span.colors-type__color-num #BC9CFF
        .colors-type__color-row
          .colors_type__rect.colors_type__rect_color_green
          h2.title.title_m.title_lh_29.colors-type__color-row-title Green
            span.colors-type__color-num #6FCF97
      section.colors-type__text-wrap
        .colors-type__text-row
          h1.colors-type__label.title.title_l H1
          h1.title.title_l.colors-type__text-row-text This one is the sub-section or<br> widget title
        .colors-type__text-row
          h2.colors-type__label.title.title_m H2
          h2.title.title_m.colors-type__text-row-text Next one is the item title inside<br>widgets
        .colors-type__text-row
          h3.colors-type__label.title.title_s H3
          h3.title.title_s.colors-type__text-row-text This is a label or CTA text
        .colors-type__text-row
          p.colors-type__label.text Body
          p.text.colors-type__text-row-text This is the body text which is used for most<br>of the design, like paragraphs, lists, etc.