.colors-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.colors-type__colors {
    margin: 108px auto;
    margin-bottom: 0;
    min-width: 269px;
}

.colors-type__color-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.colors-type__color-row-title {
    margin: 0;
    margin-left: 40px;
}

.colors-type__color-num {
    display: block;

    font-family: 'Quicksand';
    font-weight: normal;
}

.colors-type__text-wrap {
    margin: 25px auto;
}

.colors-type__text-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.colors-type__label {
    margin: 0;
    min-width: 37px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: $dark-shade-25;
}

.colors-type__label_h1 {
    font-size: 24px;
    line-height: 29px;
}

.colors-type__label_h2 {
    font-size: 19px;
    line-height: 23px;
}

.colors-type__label_h3 {
    font-size: 12px;
    line-height: 15px;
}

.colors-type__text-row-text {
    max-width: 336px;
    margin: 10px 15px;
    margin-bottom: 0;

    text-align: center;
    white-space: pre-line;
}

/* RECT */

.colors_type__rect {
    width: 70px;
    min-width: 70px;
    height: 70px;

    border-radius: 6px;
}

.colors_type__rect_color_ds-100 {
    background-color: $dark-shade-100;
}

.colors_type__rect_color_ds-75 {
    background-color: $dark-shade-75;
}

.colors_type__rect_color_ds-50 {
    background-color: $dark-shade-50;
}

.colors_type__rect_color_ds-25 {
    background-color: $dark-shade-25;
}

.colors_type__rect_color_ds-5 {
    background-color: $dark-shade-5;
}

.colors_type__rect_color_purple {
    background-color: $purple;
}

.colors_type__rect_color_green {
    background-color: $green;
}

@media (min-width: 720px) {
    .colors-type {
        flex-direction: row;
    }

    .colors-type__colors {
        margin: 0;
        margin-top: 108px;
        margin-left: 5.0%;
        margin-bottom: 10.06%;
    }
    
    .colors-type__text-wrap {
        margin: 0;
        margin-top: 108px;
        margin-left: 5.0%;
        margin-right: 5.0%;
    }

    .colors-type__text-row {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        margin-bottom: 50px;
    }

    .colors-type__text-row-text {
        margin: 0;

        text-align: left;
    }

    .colors-type__label {
        margin-right: 30px;

        text-align: right;
    }

    .colors-type__text-row:nth-child(2) {
        margin-bottom: 52px;
    }
    
    .colors-type__text-row:nth-child(3) {
        margin-bottom: 48px;
    }
    
    @-moz-document url-prefix() {
        .colors-type__text-row:nth-child(2) {
            margin-bottom: 50px;
        }
        
        .colors-type__text-row:nth-child(3) {
            margin-bottom: 47px;
        }
    }  
}

@media (min-width: 1024px) {
    .colors-type__colors {
        margin: 0;
        margin: 10.1% 0;
        margin-left: 10.4%;
    }
    
    .colors-type__text-wrap {
        margin: 10.1% 0;
        margin-right: 11.9%;
    }
}