include ../base-dropdown/base-dropdown
include ../input-num/input-num

mixin dropdown(options, arr)
  +base-dropdown(options)(class= 'dropdown ' + ((attributes.class == undefined) ? '' : attributes.class))
      .dropdown__menu
        ul.dropdown__menu-list
          each val in arr
            li.dropdown__menu-item
              p.title.title_s.dropdown__menu-title= val
              +input-num({val: 0})          
        //- .dropdown__btn-row
        //-   input(type="reset" value="очистить").title.title_s.title_color_ds-50.dropdown__apply-btn
        //-   button.title.title_s.title_color_purple.dropdown__apply-btn применить