.form-elements {
    width: 1440px;
    height: 1853px;

    overflow: hidden;
}

.form-elements__wrap {
    width: 1159px;
    margin: 0 auto;
}

.form-elements__wrap:first-child {
    margin-top: 140px;
}

.form-elements__col {
    display: flex;
    flex-flow: column nowrap;
}

.form-elements__row {
    margin-bottom: 20px;
}
