$dark-shade-100: #1F2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-10: rgba(31, 32, 65, 0.1);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$purple-50: rgba(188, 156, 255, 0.5);
$green: #6FCF97;


@mixin list-none() {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin fieldset-reset() {
    margin: 0;
    padding: 0;

    border: none;
}

@mixin link-def() {
    color: inherit;
    text-decoration: none;
}
