include ./common.blocks/colors-type/colors-type
include ./common.blocks/form-elements/form-elements

doctype html
html(lang="ru")
  head
    title UI Kit
    meta(charset="utf-8")
  body
    +colors-type
    +form-elements
    

