@import './colors.scss';
@import './common.blocks/title/title.scss';
@import './common.blocks/text/text.scss';
@import './common.blocks/colors-type/colors-type.scss';
@import './common.blocks/form-elements/form-elements.scss';
@import './common.blocks/text-field/text-field.scss';
@import './common.blocks/dropdown/dropdown.scss';
@import './common.blocks/date-dropdown/date-dropdown.scss';
@import './common.blocks/ui-state/ui-state.scss';
@import './common.blocks/base-field/base-field.scss';
@import './common.blocks/base-dropdown/base-dropdown.scss';
@import './common.blocks/filter-date-dropdown/filter-date-dropdown.scss';
@import './common.blocks/subscription-text-field/subscription-text-field.scss';
@import './common.blocks/checkbox-buttons/checkbox-buttons.scss';
@import './common.blocks/radio-buttons/radio-buttons.scss';
@import './common.blocks/toggle/toggle.scss';
@import './common.blocks/like-button/like-button.scss';
@import './common.blocks/rate-button/rate-button.scss';
@import './common.blocks/range-slider/range-slider.scss';
@import './common.blocks/button/button.scss';
@import './common.blocks/pagination/pagination.scss';
@import './common.blocks/ext-checkbox-list/ext-checkbox-list.scss';
@import './common.blocks/rich-checkbox-buttons/rich-checkbox-buttons.scss';
@import './common.blocks/bullet-list/bullet-list.scss';
@import './common.blocks/benefits-list/benefits-list.scss';
@import './common.blocks/review/review.scss';

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  src: url('./fonts/Quicksand/Quicksand-VariableFont_wght.ttf'),
       url('./fonts/Quicksand/Quicksand-Regular.eot') format('embedded-opentype'),
       url('./fonts/Quicksand/Quicksand-Regular.otf') format('opentype'),
       url('./fonts/Quicksand/Quicksand-Regular.svg') format('svg'),
       url('./fonts/Quicksand/Quicksand-Regular.woff') format('woff');
}

@font-face {
  font-family: "QuicksandBold";
  font-style: normal;
  src: url('./fonts/Quicksand/Quicksand-Bold.ttf'),
       url('./fonts/Quicksand/Quicksand-Bold.eot') format('embedded-opentype'),
       url('./fonts/Quicksand/Quicksand-Bold.otf') format('opentype'),
       url('./fonts/Quicksand/Quicksand-Bold.svg') format('svg'),
       url('./fonts/Quicksand/Quicksand-Bold.woff') format('woff');
}

@font-face {
  font-family: "Montserrat";
  src: url('./fonts/Montserrat/Montserrat-Regular.ttf'),
       url('./fonts/Montserrat/Montserrat-Regular.eot') format('embedded-opentype'),
       url('./fonts/Montserrat/Montserrat-Regular.otf') format('opentype'),
       url('./fonts/Montserrat/Montserrat-Regular.svg') format('svg'),
       url('./fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: "MontserratBold";
  src: url('./fonts/Montserrat/Montserrat-Bold.ttf'),
       url('./fonts/Montserrat/Montserrat-Bold.eot') format('embedded-opentype'),
       url('./fonts/Montserrat/Montserrat-Bold.otf') format('opentype'),
       url('./fonts/Montserrat/Montserrat-Bold.svg') format('svg'),
       url('./fonts/Montserrat/Montserrat-Bold.woff') format('woff');
}

body {
  background-color: #E5E5E5;
}

.ui-section {
  margin: 50px;

  background-color: #fff;
  background-image: url('./assets/logo-ui.svg');
  background-repeat: no-repeat;
  background-position: top 30px left 30px;
}
