@import './common.blocks/title/title.css';
@import './common.blocks/text/text.css';

@font-face {
    font-family: "Quicksand";
    font-style: normal;
    src: url('./fonts/Quicksand/Quicksand-VariableFont_wght.ttf'),
         url('./fonts/Quicksand/Quicksand-Regular.eot') format('embedded-opentype'),
         url('./fonts/Quicksand/Quicksand-Regular.otf') format('opentype'),
         url('./fonts/Quicksand/Quicksand-Regular.svg') format('svg'),
         url('./fonts/Quicksand/Quicksand-Regular.woff') format('woff');
}

@font-face {
    font-family: "QuicksandBold";
    font-style: normal;
    src: url('./fonts/Quicksand/Quicksand-Bold.ttf'),
         url('./fonts/Quicksand/Quicksand-Bold.eot') format('embedded-opentype'),
         url('./fonts/Quicksand/Quicksand-Bold.otf') format('opentype'),
         url('./fonts/Quicksand/Quicksand-Bold.svg') format('svg'),
         url('./fonts/Quicksand/Quicksand-Bold.woff') format('woff');
}

@font-face {
    font-family: "Montserrat";
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf'),
         url('./fonts/Montserrat/Montserrat-Regular.eot') format('embedded-opentype'),
         url('./fonts/Montserrat/Montserrat-Regular.otf') format('opentype'),
         url('./fonts/Montserrat/Montserrat-Regular.svg') format('svg'),
         url('./fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: "MontserratBold";
    src: url('./fonts/Montserrat/Montserrat-Bold.ttf'),
         url('./fonts/Montserrat/Montserrat-Bold.eot') format('embedded-opentype'),
         url('./fonts/Montserrat/Montserrat-Bold.otf') format('opentype'),
         url('./fonts/Montserrat/Montserrat-Bold.svg') format('svg'),
         url('./fonts/Montserrat/Montserrat-Bold.woff') format('woff');
}

:root {
    --dark-shade-100: #1F2041;
    --dark-shade-75: rgba(31, 32, 65, 0.75);
    --dark-shade-50: rgba(31, 32, 65, 0.5);
    --dark-shade-25: rgba(31, 32, 65, 0.25);
    --dark-shade-5: rgba(31, 32, 65, 0.05);

    --purple: #BC9CFF;
    --green: #6FCF97;
  }


body {
    background-color: #E5E5E5;
}

.ui-section {
    margin: 50px;

    background-color: #fff;
    background-image: url('./assets/logo-ui.svg');
    background-repeat: no-repeat;
    background-position: top 30px left 30px;
}

.colors-type {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 900px;
}

.colors-type__colors {
    margin: 145px;
}

.colors-type__color-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.colors-type__color-row-title {
    margin: 0;
    margin-left: 40px;
}

.colors-type__color-num {
    display: block;

    font-family: 'Quicksand';
    font-weight: normal;
}

.colors-type__text-wrap {
    margin-top: 145px;
    margin-right: 196px;
}

.colors-type__text-row {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.colors-type__text-row:nth-child(2) {
    margin-bottom: 52px;
}

.colors-type__text-row:nth-child(3) {
    margin-bottom: 48px;
}

@-moz-document url-prefix() {
    .colors-type__text-row:nth-child(2) {
        margin-bottom: 50px;
    }
    
    .colors-type__text-row:nth-child(3) {
        margin-bottom: 47px;
    }
}  

.colors-type__label {
    margin: 0;
    margin-right: 30px;
    width: 37px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    text-align: right;
    color: rgba(31, 32, 65, 0.25);
    color: var(--dark-shade-25);
}

.colors-type__text-row-text {
    margin: 0;
}

/* RECT */

.colors_type__rect {
    width: 70px;
    height: 70px;

    border-radius: 6px;
}

.colors_type__rect_color_ds-100 {
    background-color: #1F2041;
    background-color: var(--dark-shade-100);
}

.colors_type__rect_color_ds-75 {
    background-color: rgba(31, 32, 65, 0.75);
    background-color: var(--dark-shade-75);
}

.colors_type__rect_color_ds-50 {
    background-color: rgba(31, 32, 65, 0.50);
    background-color: var(--dark-shade-50);
}

.colors_type__rect_color_ds-25 {
    background-color: rgba(31, 32, 65, 0.25);
    background-color: var(--dark-shade-25);
}

.colors_type__rect_color_ds-5 {
    background-color: rgba(31, 32, 65, 0.05);
    background-color: var(--dark-shade-5);
}

.colors_type__rect_color_purple {
    background-color: #BC9CFF;
    background-color: var(--purple);
}

.colors_type__rect_color_green {
    background-color: #6FCF97;
    background-color: var(--green);
}